<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
</head>

<body>

    {% load static %}
    <script src="{% static 'core/js/webSocket.js' %}"></script>



    {% if user.is_authenticated %}

    <div class="center">
        <div class="container">
            <div class="text">
                <p id="info"> Welcome {{ request.user.username }} to this site</p>
                <p id="info"> Not much to do right now</p>
                <div class="text navigation">
                    <a href="{% url 'logout' %}">logout</a>
                </div>


                {% endif %}

</body>